i.mr{
	margin-right: 7px;
}
.far.user-icon{
	font-size: 33px;
}
.pd-dash-footer{
	padding: 5px 0px;
}

.form-control::placeholder {
	color: #cdcdcd;
	opacity: 1;
	font-weight: normal;

}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cdcdcd;
    font-weight: normal;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #cdcdcd;
    font-weight: normal;
}

.addNewUser{
	margin-left: 20px;
    background: #00ac69;
    color: #fff;
    padding: 9px 20px;
    border-radius: 22px;
}
.addNewUser:hover{
	color: #ccc;
	text-decoration: none;
}

.remove_service{
	width: 30px;
    height: 30px;
    display: block;
    color: #ff6666;
    text-align: center;
    padding-top: 4px;
}
.remove_service:hover{
	color: red;
}
.add_line{
	padding-top: 10px;
    padding-left: 6px;
}
.add_line a{
	color: #229c26;
}
.select-line{
	margin-top: 10px;
}

table.mouseover tr.over td{
	background: #eaeaea;
}

.btn-secondary.gray{
	background: #ccc;
	border-color: #b9b9b9;
	color: #524c4c;
}
.btn-secondary.gray:hover{
	background: #565656;
	color: #fff;
}
.userTable td{
	background: #fff4f4;
}
.userTable td.is_writeable{
	background: #fff;
}
.userTable td.is_writeable.td-select{
	padding: 2px 4px;
}
.userTable.admin td{
	background: #fff;
	cursor: text;
}
input.form-input{
	padding: 8px;
	border-radius: 5px;
   border: 1px solid #ccc;
   outline: none;
}
input.form-input:focus{
	border:1px solid #5c9cea;
}